<?xml version='1.0' encoding='utf-8'?>
<widget id="ca.drewm.prototype.web.fileandphoto" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CordovaFileAndPhotoPrototype</name>
    
    <description>
		A PoC Apache Cordova application that takes photos
		and deals with photo files.
	</description>

    <author email="DAmatheson1-cc@conestogac.on.ca" href="http://www.drewm.ca">
		Drew Matheson
	</author>

    <content src="index.html" />
    
    <access origin="*" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <preference name="LogLevel" value="DEBUG" />


    <preference name="AndroidPersistentFileLocation" value="Internal" />

    <platform name="android">
        <allow-intent href="market:*" />
    </platform>


    <engine name="ios" spec="4.1.1" />

    <!-- Set Library as the persistent root rather than Documents -->
    <preference name="iosPersistentFileLocation" value="Library" />

    <!-- Only allow backups via iTunes sync -->
    <preference name="BackupWebStorage" value="local" />

    <!-- We don't care about location EXIF data. Avoid a location usage prompt -->
    <preference name="CameraUsesGeolocation" value="false" />

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-file" spec="~4.2.0" />
    <plugin name="cordova-plugin-camera" spec="~2.2.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.3" />
</widget>
